<!DOCTYPE html >
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/minimal/minimal.css" rel="stylesheet" />
   
</head>
<body>
    <span class="spanlogo">
        <a href="~/Home/Index">
            <img class="logo" src="~/Images/logo.png" />
        </a>
    </span>
    <div class="container-fluid">
        <div class="blackBox"></div>
        <div class="burger">
            <span id="x"></span>
            <span></span>
            <span></span>
        </div>
        <div class="col-md-2 navi">
            <ul class="nav navbar-nav" id="fixIt">
                <li class="navPages"><a href="~/Home/Index">HOME</a></li>
                <li class="navPages"><a href="#">WHAT WE DO</a></li>
                <li class="navPages"><a href="~/Home/About">ABOUT US</a></li>
                <li class="navPages"><a href="~/Home/Contact">CONTACT</a></li>
                <li class="navQuote"><a href="~/Home/GetQuote">GET A QUOTE</a></li>
                <li class="navSocial">
                    <a class="social" href="#"><i class="fa fa-facebook-f"></i></a>
                    <a class="social" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social" href="#"><i class="fa fa-skype"></i></a>
                </li>
                <li id="corefin"><strong>C O R E F I N</strong></li>
                <li id="navInfo">
                    4 Addison Avenue<br />
                    London, W11 4QR<br />
                </li>
                <li id="navContact">
                    +44 (0) 208 133 99 99<br />
                    <a href="mailto:contact@core-fin.com">contact@core-fin.com</a><br />
                </li>
                <li class="navLastLi">
                    <a class="navPP" href="#"><strong>Privacy Policy</strong></a><span class="navPP">|</span>
                    <a class="navPP" href="#"><strong>Legal</strong></a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-sm-12 content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/Content/slick/slick.min.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Scripts/HomeCustome.js"></script>
</body>
</html>

