<div class="plans">
    <h1><strong>PET INSURANCE</strong></h1>
    <ul class="planslist">
        <li>Plans starting at $35/mo</li>
        <li>Broadest covarage avaiable anywhere</li>
        <li>Use any vet</li>
    </ul>
    <span class="findOutMore" style="text-align:center;width:250px;">
        <a href="#" id="findOutMore"><strong>FIND OUT MORE</strong></a>
    </span>
</div>
<div id="mobileAdd"><img id="mobileAdd" src="~/Images/6.jpg" class="img-responsive"></div>
<div class="your-class">
    <div><img class="mainBack" src="~/Images/1.jpg" class="img-responsive"></div>
    <div><img class="mainBack" src="~/Images/2.jpg" class="img-responsive"></div>
    <div><img class="mainBack" src="~/Images/3.jpg" class="img-responsive"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="~/Content/slick/slick.min.js"></script>